<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> Rick and Morty Viewer </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <div class="center-container" id="ion-content-center">
    <ion-spinner id="custom-spinner" *ngIf="showSpinner"></ion-spinner>
    <img
      *ngIf="currentImageUrl"
      [src]="currentImageUrl"
      alt=""
      class="center-image"
    />
    <ion-button *ngIf="showButton" (click)="loadAndShowImages()"
      >Mostrar Imágenes</ion-button
    >
  </div>
</ion-content>
