#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#ion-content-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#custom-spinner{
  width: 200px;
  height: 200px;
}



ion-title{
  width: 100%;
  font-size: 30px;
}

ion-card{
  width:80%;
  margin: auto;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.center-image {
  max-width: 100%; /* Ajusta el tamaño de la imagen según el contenedor */
  max-height: 100%; /* Ajusta el tamaño de la imagen según el contenedor */
}


